---
import Navbar from '@/components/Navbar'

const { preloads } = Astro.props
---

<html lang="en" class="initial">
  <head>
    <meta charset="utf-8" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    {preloads && preloads.map((i) => <link rel="preload" href={i} />)}
  </head>
  <body class="font-display flex min-h-screen flex-col bg-gradient-to-br from-[#9a1ab1] via-[#004966] to-[#01B18D]">
    <Navbar client:load />
    <slot />
    <link rel="stylesheet" href="/styles/product.css" />
  </body>
</html>
